<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Ecco.ttf</string>
		<string>Montserrat-Bold.ttf</string>
		<string>Montserrat-Medium.ttf</string>
		<string>Montserrat-Regular.ttf</string>
		<string>Montserrat-SemiBold.ttf</string>
		<string>UIFontIcons.ttf</string>
	</array>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>9.0</string>
	<key>CFBundleDisplayName</key>
	<string>Ecco Space</string>
	<key>CFBundleIdentifier</key>
	<string>com.ecco-space.mobile</string>
	<key>CFBundleVersion</key>
	<string>1.3.0</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>CFBundleName</key>
	<string>Ecco Space</string>
	<key>XSAppIconAssets</key>
	<string>Assets.xcassets/AppIcon-1.appiconset</string>
	<key>NFCReaderUsageDescription</key>
	<string>NFC tag to read NDEF messages into the application</string>
	<key>NSContactsUsageDescription</key>
	<string>Used to save card to contact list</string>
	<key>CFBundleShortVersionString</key>
	<string>1</string>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
</dict>
</plist>
