@model CreateCompanyModel
@inject UserManager<EccoUser> _userManager

@{
    ViewData["Title"] = "CreateCompany";
}

<h1>Create Your Company</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateCompany"  enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CompanyName" class="control-label"></label>
                <input asp-for="CompanyName" class="form-control" />
                <span asp-validation-for="CompanyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyDescription" class="control-label"></label>
                <input asp-for="CompanyDescription" class="form-control" />
                <span asp-validation-for="CompanyDescription" class="text-danger"></span>
            </div>

            <div class="form-group">

                @{
                    var allUsers = _userManager.Users.ToList();
                    var currentUser = await _userManager.FindByNameAsync(User.Identity.Name);
                    var listItems = new List<SelectListItem>();
                    foreach (var user in allUsers)
                    {
                        listItems.Add(new SelectListItem()
                        {
                            Text = user.Email,
                            Value = user.Email
                        });
                    }
                }

                @Html.LabelFor(x => x.OwnerEmail)
                @Html.DropDownListFor(x => x.OwnerEmail,
                                           listItems,
                                           "Please select the owner of the company",
                                           new { @class = "form-control" })


            </div>

            <div class="form-group">
                <label asp-for="File" class="control-label"></label>
                <input asp-for="File" type="file" accept="image/*">
                <span asp-validation-for="File" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>