@model Ecco.Entities.Company.Company 
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@if (Model != null)
{
    
}
else
{ 
    <label class="text-primary h2">You do not currently have an active company</label>
}