@model Ecco.Entities.Card
@inject Ecco.Web.Services.StorageService storage
@inject UserManager<EccoUser> userManager

@using Ecco.Api.Util

@{
    ViewData["Title"] = "Card";
}

<h1 class="d-flex justify-content-center">Card</h1>

@{
    var user = await userManager.FindByIdAsync(Model.UserId.ToString());
    string container = UserToContainer.EmailToContainer(user.UserName);
    string baseUrl = "https://eccospacestorage.blob.core.windows.net/";
    string url = baseUrl + container + "/" + Model.CardTitle.Replace(" ", "%2520") + ".png";
}

<div class="container text-center">
    <img src="@url" class="rounded" width="350" height="200" />
</div>

<div class="container text-center">

    <ul class="list-group list-group-flush">
        <li class="list-group-item"></li>
        <li class="list-group-item">
            <p>@Model.FullName</p>
        </li>
        <li class="list-group-item">
            <p>@Model.Email</p>
        </li>
        <li class="list-group-item">
            <p>@Model.Phone</p>
        </li>
        <li class="list-group-item"></li>
    </ul>

</div>